---
import Card from "../../components/Card.astro"
import { projectsData } from "../../utilities/projectsData/proyectsData"
// import TitleSection from "../../components/TitleSection.astro"

---
<main class="area pt-10 z-10 bg-redd-500" id="PROYECTOS">
    <h2 class="w-full mx-auto text-center text-4xl mt-10 font-semibold tracking-widest bg-redd-500 text-neutral-800 dark:text-neutral-200">PROYECTOS</h2>
    <section class="py-10 flex justify-start items-start flex-col gap-y-16 bg-blu-500">
        {projectsData.map((project) => (
            <Card 
            image={project.image} 
            name={project.titulo}
            namePath={project.tituloPath}
            date={project.fecha}
            description={project.shortDescription}
            technologies={project.tecnologias}
            githubFront={project.githubFront as string}
            githubBack={project.githubBack as string}
            siteWeb={project.web as string}
            
            />
        ))}
    </section>

</main>


<!-- 
<Card 
image={versa.src} 
name="VERSA - Tienda de ropa Vintage"
description="E-commerce de moda con diseño moderno e intuitivo"
/>
<Card 
image={pa.src} 
name="PA - API de productos"
description="API gratuita para E-commerce y práctica desarrolladores."
/>
<Card 
image={MMarket.src} 
name="MMarket - Tienda online"
description="API gratuita para E-commerce y práctica desarrolladores."
/> -->