---
import Card from "../../components/Card.astro"
import { projectsData } from "../../utilities/projectsData/proyectsData"
// import TitleSection from "../../components/TitleSection.astro"

---
<main class="area bg-redd-500">
    <!-- <TitleSection title="PROYECTOS"/> -->
    <h2 class="w-full mx-auto text-center text-4xl mt-10 px-16 font-semibold tracking-widest bg-redd-500 text-neutral-800">PROYECTOS</h2>
    <section class="py-10 flex justify-start items-start flex-col gap-y-10 bg-blued-500">
        {projectsData.map((project) => (
            <Card 
            image={project.image} 
            name={project.titulo}
            date={project.fecha}
            description={project.shortDescription}
            technologies={project.tecnologias}
            // githubFront={project.githubFront}
            // githubBack={project.githubBack}
            // siteWeb={project.web}
            
            />
        ))}
    </section>

</main>


<!-- 
<Card 
image={versa.src} 
name="VERSA - Tienda de ropa Vintage"
description="E-commerce de moda con diseño moderno e intuitivo"
/>
<Card 
image={pa.src} 
name="PA - API de productos"
description="API gratuita para E-commerce y práctica desarrolladores."
/>
<Card 
image={MMarket.src} 
name="MMarket - Tienda online"
description="API gratuita para E-commerce y práctica desarrolladores."
/> -->