---
import svgs from "../../public/Skills/Skills.ts";

interface ProjectProps {
	image: string;
	name:string;
	namePath:string;
	date:string;
	description:string;
	technologies:string[];
	githubFront:string;
	githubBack:string;
	siteWeb:string
}
const { image, name, namePath, date, description, technologies, githubFront, githubBack, siteWeb } = Astro.props as ProjectProps;

const skilsForProjets = svgs.filter((tech) => technologies.includes(tech.name));
// console.log(`img-${namePath}`);
// <a class="w-[30px] h-[30px] rounded-lg m-2 absolute top-0 right-0 flex flex-col justify-center items-center text-white bg-[#00000055] hover:bg-[#000000ba] transition-colors duration-500 z-10" href={`/projects/${namePath}`}><i class='bx bx-link-external text-lg'></i></a>

---

<div class="max-w-[1100px] w-[95%] mx-auto z-50 flex flex-col md:flex-row gap-y-3 md:gap-y-0 md:gap-x-5 justify-center items-center md:items-start bg-greend-500">
	<picture class="max-w-[430px] h-[250px] relative flex justify-start items-start overflow-hidden rounded-md bg-redd-500">
		<img src={image} alt="Image Proyect" transition:name={`ìmg-${namePath}`}>
	</picture>
	<section class="max-w-full min-w-[300px] mx-auto md:mx-0  md:max-w-[450px] md:min-w-[450px] flex flex-col justify-start gap-y-4 md:gap-y-5 items-start bg-blued-500">
		<div class="flex flex-col justify-start items-start gap-1">
			<h2 class="w-full lg:w-2/3 font-semibold text-3xl hover:underline underline-offset-4 decoration-solid decoration-2 decoration-neutral-800 text-neutral-800 dark:text-neutral-300"><a href={`/projects/${namePath}`}>{name}</a></h2>
			<p class="text-xs font-medium text-neutral-600 dark:text-neutral-400">{date}</p>
		</div>
		<p class="text-sm font-medium text-neutral-700 dark:text-neutral-300 line-clamp-1">{description}</p>
		<div class="max-md:w-full flex justify-center items-center gap-4 bg-redd-500">
			{skilsForProjets.map((skill) => (
				<picture class="flex flex-row justify-center items-center">
					<img src={skill.path} alt={skill.name} class="w-[23px] h-[23px]">
				</picture>
			))}
		</div>
		<div class="w-full flex justify-center md:justify-start items-center flex-wrap sm:flex-nowrap mx-auto sm:mx-0 gap-3 sm:gap-2 bg-redd-500">
			{githubFront && <a target="_blank" href={githubFront} class="bg-neutral-100 text-sm font-medium text-neutral-800 flex justify-center items-center gap-2 px-1.5 py-1 rounded-md shadow-md shadow-neutral-400 dark:shadow-black"><i class="text-lg bx bxl-github"/> Frontend</a>}
			{githubBack && <a target="_blank" href={githubBack} class="bg-neutral-100 text-sm font-medium text-neutral-800 flex justify-center items-center gap-2 px-1.5 py-1 rounded-md shadow-md shadow-neutral-400 dark:shadow-black"><i class="text-lg bx bxl-github"/> Backend</a>}
			{siteWeb && <a target="_blank" href={siteWeb} class="bg-neutral-100 text-sm whitespace-nowrap font-medium text-neutral-800 flex flex-nowrap justify-center items-center gap-2 px-1.5 py-1 rounded-md shadow-md shadow-neutral-400 dark:shadow-black"><i class="text-lg bx bx-world"/> Sito Web</a>}
		</div>
	</section>
</div>