---
const {title, year, text, textSize} = Astro.props
---

<section class="w-full flex flex-col justify-start items-start">
    <ul class="relative w-full hidden md:flex justify-start items-center h-[0px] md:h-[1px]   bg-neutral-800 dark:bg-neutral-400">
        <li class="w-[40px] h-[40px] absolute bg-primary rounded-full flex justify-center items-center">
            <i class="bx bxs-calendar text-2xl text-white"/>
        </li>
    </ul>
    <ul class="pt-5 hidden md:block">
        <li class="text-lg font-semibold text-neutral-800 dark:text-neutral-300">{title}</li>
        <li class="text-xs font-medium text-neutral-700 dark:text-neutral-400">{year}</li>
        <li class={`max-w-[95%] md:py-2 ${textSize} text-neutral-600 dark:text-neutral-300`}>{text}</li>
    </ul>
    <ul class="md:hidden flex flex-col justify-start items-start gap-y-2">
        <li class="w-full flex justify-start items-center gap-x-2 flex-row">
            <div class="w-[40px] h-[40px] bg-primary rounded-full flex justify-center items-center">
                <i class="bx bxs-calendar text-2xl text-white"/>
            </div>
            <ul>
                <li class="text-lg font-semibold text-neutral-800 dark:text-neutral-300">{title}</li>
                <li class="text-xs font-medium text-neutral-700 dark:text-neutral-400">{year}</li>
            </ul>
        </li>
        <li class={`max-w-[95%] md:py-2 ${textSize} text-neutral-600 dark:text-neutral-300`}>{text}</li>
    </ul>
</section>